@model ProjexAuth_2022.Models.Projects

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Projects</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="projectName" class="control-label"></label>
                <input asp-for="projectName" class="form-control" />
                <span asp-validation-for="projectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectDescription" class="control-label"></label>
                <input asp-for="projectDescription" class="form-control" />
                <span asp-validation-for="projectDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectOwner" class="control-label"></label>
                <input asp-for="projectOwner" class="form-control" />
                <span asp-validation-for="projectOwner" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isAvailable" /> @Html.DisplayNameFor(model => model.isAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="createdOn" class="control-label"></label>
                <input asp-for="createdOn" class="form-control" />
                <span asp-validation-for="createdOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
