@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Projex.</h1>
     <p>Welkom bij Projex!<br /><br />
         Het doel van Projex is om studenten van Zuyd Hogeschool te koppelen aan opdrachtgevers die een ICT-gerelateerde opdracht voor ze hebben.<br />
        Studenten kunnen hiermee verschillende beloningen verdienen, van geldbedragen tot studiepunten of andere beloningen.<br /><br />
        Maak eerst een account aan om te beginnen en log in.<br />
        Bekijk vervolgens de '<a href="Home/Instructions" target="_blank">Handleiding</a>' pagina voor meer gedetailleerde informatie over het gebruik van deze website.<br />
        Of navigeer direct naar de <a href="Projects/Index" target="_blank">projecten pagina</a> om te bekijken welke opdrachten beschikbaar zijn.<br /><br />
        API functionaliteit is beschikbaar. Gebruik hiervoor bijvoorbeeld de URL: /api/Projects/Get. Of: /api/AspNetUsers<br /><br /></p>
</div>
