@{
    ViewData["Title"] = "Handleiding";
}
<h1>@ViewData["Title"]</h1>

<p>Op deze pagina staat een beknopte handleiding weergegeven voor het gebruik van Projex. <br /><br />
   Binnen deze webapplicatie zijn 3 verschillende rollen te onderscheiden:<br />
   <b>-</b> Elke willekeurige geregistreerde gebruiker (een student)<br />
   <b>-</b> Opdrachtgever<br />
   <b>-</b> Beheerder<br />

   De rechten van deze rollen zijn als volgt:<br />
   <br />
   Alle geregistreerde gebruikers (dus ook de studenten) hebben het recht om de algemene pagina's (Home, Privacy etc.) te bekijken, en daarnaast om de pagina 'Opdrachten' te bekijken.<br />
   Niet-geregistreerde gebruikers kunnen dat niet.<br />
   Binnen deze pagina staan de op dit moment beschikbare opdrachten weergegeven. Studenten kunnen de informatie bekijken en middels deze informatie
   op eigen gelegenheid contact opnemen met de opdrachtgever(s)<br /><br />
   Opdrachtgevers hebben naast het bovenstaande het recht om binnen deze 'Opdrachten' pagina informatie aan te passen of toe te voegen. Zo kunnen zij nieuwe entries aan de database toevoegen, 
   entries verwijderen, etc.<br /><br />
   Beheerders hebben alle rechten. Beheerders kunnen dus naast alle bovenstaande zaken, ook de gebruikers van de website en de bijpassende rollen aanpassen en toewijzen.<br /><br />

   Zo kan een beheerder via <a href="/AspNetUsers/Index" target="_blank">deze link</a> alle gebruikers weergeven of via <a href="/AspNetUsers/Create" target="_blank">deze link</a> een nieuwe gebruiker aanmaken.<br />
   <b>Deze acties zijn alleen toegankelijk voor beheerders. Wanneer men niet als Beheerder is ingelogd, zullen bovenstaande links niet werken.</b><br /><br />
   Er bestaat tot slot ook nog een beheerdersportaal waarin alle functies staan opgesomd die een beheerder kan uitvoeren. Deze kan uitsluitend geopend worden door ingelogde beheerders via onderstaande button:
   <br /><br />
   <i>KNOP HREF BEHEER HTML</i>

</p>
